/* Shablonning stiliga oid CSS kodlarini yozing */

/* Asosiy HTML elementlari */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Grid */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  /* Kategoriya */
  .category {
    font-weight: bold;
    text-transform: uppercase;
    color: #666;
  }
  
  /* Karta */
  .card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card-title {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .card-description {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
  }
  
  .card-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #00a0e9;
    text-decoration: none;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }


